    body {
        background-color: #232323;
        margin: 0;
        font-family: "Montserrat", "Avenir";
    }

    h1 {
        text-align: center;
        line-height: 1.1;
        font-weight: normal;
        color: white;
        background: steelblue;
        margin: 0;
        text-transform: uppercase;
        padding: 20px 0;
    }

    #container {
        margin: 20px auto;
        max-width: 600px;
    }
    .square {
        width: 30%;
        background: purple;
        padding-bottom: 30%;
        float: left;
        margin: 1.66%;
        border-radius: 15%;
        transition: background 0.6s;
        -webkit-transition: background 0.6s;
        -moz-transition: background 0.6s;
    }
